
Neural Networks and Deep Learning/Week 2/Assignment/.DS_Store
Neural Networks and Deep Learning/Week 2/Assignment/Logistic Regression as a Neural Network/.DS_Store
*.ipynb
Neural Networks and Deep Learning/Week 2/Assignment/Logistic Regression as a Neural Network/.ipynb_checkpoints/Logistic_Regression_with_a_Neural_Network_mindset_v6a-checkpoint.ipynb
Neural Networks and Deep Learning/Week 2/Assignment/Logistic Regression as a Neural Network/.ipynb_checkpoints/Logistic_Regression_with_a_Neural_Network_mindset_v6a-checkpoint.ipynb
